@media (max-width: 1170px) {
  .header__container {
    padding: 0;
  }
  .header__menu {
    position: fixed;
    padding-top: 97px;
    max-width: 320px;
    height: 100vh;
    visibility: hidden;
    transform: translateX(180%);
    transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
  }

  .menu {
    padding-right: 15px;
    flex-direction: column;
    align-items: flex-end;
  }

  .burger-menu {
    display: block;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }

  .menu__list-item:not(:last-child) {
    margin-right: 0;
  }

  .menu--active {
    display: block;
    position: fixed;
    right: 0;
    top: 0;
    visibility: visible;
    z-index: 1000;
    transform: translateX(0);
    background-color: rgba(0, 0, 0, 0.7);
    transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
}

@media (max-width: 780px) {
  .header__logo {
    width: 100%;
    justify-content: start;
    border: none;
  }

  .header__logo-svg-decor {
    display: none;
  }

  .hero__container {
    justify-content: center;
    flex-wrap: wrap;
  }

  .offer {
    align-items: center;
    margin-bottom: 20px;
  }

  .offer__title {
    font-size: 36px;
  }

  .offer__subtitle {
    font-size: 22px;
  }

  .about-list__item {
    -webkit-box-shadow: -42px -49px 70px -62px rgba(99, 99, 120, 0.1) inset;
    -moz-box-shadow: -42px -49px 70px -62px rgba(99, 99, 120, 1) inset;
    box-shadow: -42px -49px 70px -62px rgba(99, 99, 120, 1) inset;
  }

  .text--second {
    font-size: 36px;
  }
}
