@media (max-width: 1170px) {
  /* Адаптив для бургера (START) */
  .header__menu {
    position: fixed;
    padding-top: 97px;
    max-width: 320px;
    height: 100vh;
    visibility: hidden;
    transform: translateX(180%);
    transition: transform 0.3s ease-in-out;
  }

  .menu {
    padding-right: 15px;
    flex-direction: column;
    align-items: flex-end;
  }

  .burger-menu {
    display: block;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }

  .menu--active {
    display: block;
    position: fixed;
    right: 0;
    top: 0;
    visibility: visible;
    z-index: 1000;
    transform: translateX(0);
    background-color: rgba(0, 0, 0, 0.7);
    transition: transform 0.3s ease-in-out;
  }
  /* Адаптив для бургера (END) */
}

@media (max-width: 992px) {
  /* Адаптив для блока с заголовком и кнопкой (START) */

  .offer {
    text-align: center;
    align-items: center;
  }

  .offer__title {
    font-size: 36px;
  }

  .offer__subtitle {
    font-size: 22px;
  }

  .row-hero {
    justify-content: center;
  }

  /* Адаптив для блока с заголовком и кнопкой (END) */

  /* Адаптив для текста карточек (START) */

  .text--main {
    font-size: 40px;
  }

  .text--description {
    font-size: 13px;
  }

  /* Адаптив для текста карточек (END) */
}
